---
layout: default
title: Members
---

<h2><i class="fa fa-users"></i> <i class="fa fa-angle-right"></i> {{ page.title }}</h2>

<div class="table-responsive">
  <table class="table">
    <tbody>
      {% for member in site.data.members %}
      <tr>
        <td rowspan="2" width="128">
          <img class="pull-left gravatar" src="http://www.gravatar.com/avatar/{{ member[1].gravatar }}?s=128&d=mm" /></p>
        </td>
        <td>
          <h3>{{ member[1].name }}</h3>
        </td>
      </tr>
      <tr>
        <td>
          <p>
      {% if member[1].homepage %}<a href="{{ member[1].homepage }}"><i class="fa fa-home fa-2x"></i></a></li>{% endif %}
      {% if member[1].github %}<a href="http://github.com/{{ member[1].github }}"><i class="fa fa-github fa-2x"></i></a></li>{% endif %}
      {% if member[1].googleplus %}<a href="http://plus.google.com/{{ member[1].googleplus }}"><i class="fa fa-google-plus-square fa-2x"></i></a></li>{% endif %}
      {% if member[1].twitter %}<a href="http://twitter.com/{{ member[1].twitter }}"><i class="fa fa-twitter fa-2x"></i></a></li>{% endif %}
      {% if member[1].facebook %}<a href="http://facebook.com/{{ member[1].facebook }}"><i class="fa fa-facebook fa-2x"></i></a></li>{% endif %}
          </p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
